@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --main-clr: #2eb1af;
  --background-clr: #fafaf0;
  --accent-clr: #DCED31;
  --test: #a1a1a1;
}

body {
  height: 100vh;
  display: grid;
  grid-template: 1fr 6fr / 1fr 6fr;
  font-family: Roboto, sans-serif;
}

.sidebar {
  grid-row: 1 / 3;
  background: var(--main-clr);
  padding: 10px;
  color: #fff;
  box-shadow: 3px 0 3px lightgray;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 10px 30px 10px;
  font-size: 1.5rem;
  font-weight: 600;
}

.logo svg {
  width: 40px;
  height: 40px;
}

.sidebar path {
  fill: white;
}

.sidebar span {
  text-transform: lowercase;
}

.nav ul {
  list-style-type: none;
}

.nav li {
  display: flex;
  padding: 5px;
}

.nav svg {
  width: 20px;
  margin: 0 15px;
}

.nav li:nth-last-of-type(3) {
  margin-top: 50px;
}

.header {
padding: 15px 30px;
background-color: #fff;
box-shadow: 0 5px 5px lightgray;
z-index: 1;
}

.header img {
  width: 20px;
  height: 20px;
}

.header .upper {
  display: grid;
  grid-template-columns: 30px auto 30px 50px 100px;
  place-items: center;
}

input {
  margin-right: auto;
  padding: 3px 10px;
  width: 60%;
  height: 1.2em;
  border-radius: 10px;
  border: 1px solid var(--main-clr);
}

#avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.upper .username {
  font-weight: 600;
}

.lower {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.header button {
  background-color: var(--main-clr);
  border: none;
  width: 100px;
  height: 40px;
  margin-left: 15px;
  font-size: 1.3rem;
  color: var(--background-clr);
  border-radius: 20px;
}

.user_hello {
  display: grid;
  grid-template-columns: 60px auto;
}

.user_hello p {
  display: grid;
  align-content: center;
}

.user_hello p:first-of-type {
  font-size: 0.8em;
}

.user_hello p:last-of-type {
  font-size: 1.2em;
  font-weight: 600;
}

.lower img {
  width: 50px;
  height: 50px;
  margin: 0 10px 0 0;
  border-radius: 50%;
  grid-row: 1 / 3;
  box-shadow: 0 0 5px lightgray;
}

.main_content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background: rgb(236, 236, 236);
  padding: 40px 20px;
  z-index: -1;
}

.projects {
  max-width: 60vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, clamp(200px, 30%, 350px));
  grid-template-rows: 30px min-content;
  gap: 25px;
  grid-row: 1 / 3;
}

.main_content h2 {
  grid-column: 1 / -1;
}

.card {
  border-left: 15px solid var(--test);
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  height: 200px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 3px lightgray;
}

.card h3 {
  color: #353535;
  margin: 5px;
}

.card p {
  margin: 5px;
  color: #505050;
}

.card_icons {
  margin: auto 20px 20px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.card_icons div:nth-of-type(1) {
  content: url(./images/star-plus-outline.svg);
  width: 25px;
}

.card_icons div:nth-of-type(2) {
content: url(./images/eye-plus-outline.svg);
width: 25px;
}

.card_icons div:nth-of-type(3) {
content: url(./images/share-variant-outline.svg);
width: 25px;
}

.announcements, .trending {
  max-width: 15vw;
  display: grid;
  grid-template-rows: 30px min-content;
  gap: 25px;
}

.announcements h2 {
  min-height: 30px;
}

.announcements .wrap, .trending .wrap {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.announcements div {
  padding: 10px 0;
}

.announcements h3 {
  font-size: 1rem;
}

.announcements p {
  font-size: 0.9rem;
  color: #353535;
}

.trending {
  margin-top: 20px;
}

.trending .wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.trending .at {
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
  gap: 15px;
}

.trending img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}